.button {
  display: inline-block;
  text-align: center;
  line-height: 45px;
  min-width: 75px;
  min-height: 45px;
  padding: 0 10px;
  margin: 10px;
  z-index: 2;
  cursor: pointer;
  border-radius: 3px;
}
