#root {
  background-image: url("./background.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.backView {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: grey;
  opacity: 0.8;
  z-index: 1;
}
