.container {
  max-width: 500px;
}

.studentsList li {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.studentsList li.isShown {
  opacity: 1;
}

.loader-container {
  display: none;
}

.loader-container.isShown {
  display: block;
}

.loader-back-ground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  align-items: center;
}