.card {
  display: inline-block;
  width: 250px;
  background-color: white;
  margin: 20px;
}

.card img {
  width: 100%;
  height: 180px;
}

.card svg {
  margin: 20px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.code {
  font-size: 14px;
}

.description {
  font-size: 18px;
  font-weight: 700;
}
